@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-200 antialiased selection:bg-indigo-500 selection:text-white;
  }
}

/* Custom Print Styles for POS Thermal Receipt (58mm/80mm) */
@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 80mm;
    margin: 0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    line-height: 1.2;
    color: #000;
    background: #fff;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}

/* Hide scrollbars for slick mobile touch sliders */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

